
	<div class="b" style="background-image: url('assets/images/login.jpg');">
	

                <div class="card"  style="top: 120px;left: 37%; "> 
                
                    <div class="card-header">
                        <h3>Sign In</h3>
                        <!-- <div class="d-flex justify-content-end social_icon">
                            <span><i class="fa fa-facebook-square"></i></span>
                            <span><i class="fa fa-google-plus-square"></i></span>
                            <span><i class="fa fa-twitter-square"></i></span>
                        </div> -->
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(f)" #f="ngForm" name="loginForm"><br>						
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="username" name="username" ngModel required style=" height: 30px; ">
                                
                            </div><br>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="password" name="password" ngModel required style=" height: 30px; ">
                            </div>
                            <div class="row align-items-center remember">
                                <input type="checkbox">Remember Me
                            </div>
                            <p class="text-danger" [hidden]="errorMessage.message" style="text-align: center;">Wrong credentials</p>
                            <div class="form-group" class="text-center">
                                <input type="submit" value="Login" class="btn  login_btn">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a [routerLink]="['/sign-up']" style="color: red;">Sign Up</a>
                        </div>
                       
                    </div>
                </div>
            </div> 
        
        